@{
    this.ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <h3 class="col-md-12 text-danger">What is Olympia</h3>
    <ul>
        <li>
            <p>
                Olympia is a free platform for fitness lovers, as well as a place where trainers and clients can collaborate.
                What is more, trainers can help regular trainers who are struggling to create their own workout plan.

                You might be wondering how the communication is done. Well the answer is a very intuitive chat which is located at the top left
                corner. However bear in mind that the messages are not being saved due to protection issues.
            </p>
        </li>
    </ul>
</div>
<hr class="bg-danger" />
<div class="container">
    <div class="row">
        <h3 class="col-md-12 text-danger">How can I become a trainer?</h3>
        <ul>
            <li>
                <p>
                    You could easily become a trainer by clicking on the "Become a trainer" button, which is located on the top left
                    corner on the navigation bar.
                </p>
            </li>
        </ul>
    </div>
    <hr class="bg-danger" />
    <div class="row">
        <h3 class="col-md-12 text-danger">What can I do when i become a trainer</h3>
        <ul>
            <li>
                <p>
                    A trainer can create and delete(his/hers) articles as well as to help other clients who choose to be trained by him.
                    He has access areas to the shop, the chat and all articles in the website.
                    When you go to the "Clients" menu you will see a table where all of your clients are listed and by clicking
                    on one of them you can create a fitness plan for them.
                </p>
            </li>
        </ul>
    </div>
    <hr class="bg-danger" />
    <div class="row">
        <h3 class="col-md-12 text-danger">What can I do as a regular client</h3>
        <ul>
            <li>
                <p>
                    As a client you are free to read all the articles in the website as well as to choose their trainer by the 
                    "Trainers" menu. The rating measures their choose-ratio and increases when a new client subscribes to them.
                    In addition all clients are able to use the shop, the chat and to view their fitness plan(if they have one) made by their trainer
                </p>
            </li>
        </ul>
    </div>
    <hr class="bg-danger" />
</div>