@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ItemsAll";
}

    <div class="row">
        <h1 class="text-lg-center col-sm-10">All Items</h1>

        <div class="col-sm-2">
            <button class="btn btn-danger">Add Item</button>
        </div>

    </div>