<li class="nav-item active">
    <a class="nav-link text-light" 
       asp-area="Client" 
       asp-controller="Client" 
       asp-action="TrainersAll">Trainers</a>
</li>

<li class="nav-item">
    <a class="nav-link text-light" 
       asp-area="" 
       asp-controller="Accounts" 
       asp-action="Logout">Logout</a>
</li>