<li class="nav-item active">
    <a class="nav-link text-light" asp-area="Identity" asp-page="/" title="Manage">Hello @User.Identity.Name!</a>
</li>

<li class="nav-item active">
    <a class="nav-link text-light" asp-area="" asp-controller="Blogs" asp-action="ArticlesAll">Articles</a>
</li>

<li class="nav-item active">
    <a class="nav-link text-light" asp-area="" asp-controller="Shops" asp-action="Shop">Shop</a>
</li>