<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-controller="Accounts"
           asp-action="Register">
            Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-controller="Accounts"
           asp-action="Login">
            Login
        </a>
    </li>
</ul>