@{
    ViewData["Title"] = "Log in";
    @model Olympia.Data.Models.BindingModels.Account.UserLoginBindingModel
}

<h1>@ViewData["Title"]</h1>
@if(this.ViewData["Errors"] != null)
{
    <h3 class="text-danger">@this.ViewData["Errors"]</h3>
}
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" asp-controller="Accounts" asp-action="Login">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-controller="Accounts" asp-action="Register">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
