
@{
    ViewData["Title"] = "TrainersAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<Olympia.Data.Domain.OlympiaUser>
}

@foreach (var trainer in Model)
{
    <h5>@trainer.FullName</h5>
}

