
@{
    ViewData["Title"] = "ItemsAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<Olympia.Data.Models.ViewModels.Shop.ItemViewModel>
}

    <div class="row">
        <div class="col-md-10"></div>
        <button class="btn btn-danger col-md-2" asp-area="AreaShop" asp-action="ShoppingCart" asp-controller="Shop">
            <i class="fas fa-shopping-cart">    Purchase</i>
        </button>
    </div>
    
<div class="container">
    <div class="row">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col-md-3 card mr-5 mb-4">
                    <i><h5 class=" text-center">@item.Name</h5></i>
                    <img class="card-img" src="@item.ImgUrl" alt="Loading..." />
                    <div class="d-flex justify-content-center">
                        <strong><p class="text-center">@item.Supplier.Name</p></strong>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <a class="btn btn-danger col-lg-5 mb-2 mr-2"
                                asp-area=""
                                asp-controller=""
                                asp-action="">Add To Cart</a>
                        <a class="btn btn-danger col-lg-5 mb-2" 
                                asp-area="AreaShop"
                                asp-controller="Shop"
                                asp-action="ItemDetails"
                                asp-route-itemId="@item.Id"
                               >Details</a>
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="mt-5">No items in the shop</h3>
        }
    </div>
</div>
