
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Models.ViewModels.Shop.ShopViewModel
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="row">
        <h1 class="text-lg-center text-danger col-sm-8">Select Category</h1>

        <div class="col-sm-2 mb-3">
            <a class="btn btn-danger"
               asp-area="AreaAdministration"
               asp-controller="Administration"
               asp-action="AddItem">Add Item</a>
        </div>

        <div class="col-sm-2 mb-3">
            <a class="btn btn-danger"
               asp-area="AreaAdministration"
               asp-controller="Administration"
               asp-action="AddSupplier">Add Supplier</a>
        </div>
    </div>
}
else
{
    <h1 class="text-lg-center text-danger mb-4">Select Category</h1>
}

<div class="d-flex">
    <div class="d-flex justify-content-sm-start row">
        <div class="col-md-4">
            <a href="/AreaShop/Shop/Items?categoryName=Supplements"><img src="https://res.cloudinary.com/olympiacloudinary/image/upload/v1564506121/Driven-Nutrition-Protein-Bundle-Home_yemafu.jpg" alt="Alternate Text" style="height:400px;width:400px" /></a>
        </div>
        <div class="col-md-4">
            <a href="/AreaShop/Shop/Items?categoryName=Fitness"><img src="https://res.cloudinary.com/olympiacloudinary/image/upload/v1564505279/home-gym-equipment-1451666702_dwlvgv.jpg" alt="Alternate Text" style="height:400px;width:400px" /></a>
        </div>
        <div class="col-md-4">            
            <a href="/AreaShop/Shop/Items?categoryName=Clothing"><img src="https://res.cloudinary.com/olympiacloudinary/image/upload/v1564505484/1504601363_4_xtahq7.jpg" alt="Alternate Text" style="height:400px;width:400px" /></a>
        </div>
    </div>
</div>