
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>

като се цъкне на shop
-> взимам username-а на user-а. 
-> взимам този user и му бъркам в количката 
-> взимам count на items 
-> при цъкване се взима количката на този user
-> 