
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<Olympia.Data.Models.ViewModels.Shop.ItemViewModel>
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="row">
        <h1 class="text-lg-center text-danger col-sm-8">Select Category</h1>

        <div class="col-sm-2 mb-3">
            <a class="btn btn-danger"
               asp-area="AreaAdministration"
               asp-controller="Administration"
               asp-action="AddItem">Add Item</a>
        </div>

        <div class="col-sm-2">
            <a class="btn btn-danger"
               asp-area="AreaAdministration"
               asp-controller="Administration"
               asp-action="AddSupplier">Add Supplier</a>
        </div>
    </div>
}
else
{
    <h1 class="text-lg-center text-danger mb-4">Select Category</h1>
}

<div class="container">
    <div class="row">
        <div class="col-md-4 mr-2">
            <a class="ml-2" href="/AreaShop/Shop/Items?categoryName=Supplements"><img src="https://res.cloudinary.com/olympiacloudinary/image/upload/v1563176644/admeaufusmskkbiwbxi3.jpg" alt="Alternate Text" style="height:400px;width:400px" /></a>
        </div>
        <div class="col-md-4 mr-2">
            <a class="ml-2" href="/AreaShop/Shop/Items?categoryName=Fitness"><img src="https://res.cloudinary.com/olympiacloudinary/image/upload/v1563486738/%D0%B8%D0%B7%D1%82%D0%B5%D0%B3%D0%BB%D0%B5%D0%BD_%D1%84%D0%B0%D0%B9%D0%BB_jbgd8h.jpg" alt="Alternate Text" style="height:400px;width:400px" /></a>
        </div>
        <div class="col-md-4">
            <a class="mr-2" href="/AreaShop/Shop/Items?categoryName=Clothing"><img src="https://res.cloudinary.com/olympiacloudinary/image/upload/v1563486829/fitness-gear-sportswear-1546614484_frql2n.jpg" alt="Alternate Text" style="height:400px;width:400px" /></a>
        </div>
    </div>
</div>
