<li class="nav-item">
    <a class="nav-link text-light"
       asp-area="AreaAdministration"
       asp-controller="Administration"
       asp-action="Index" title="Admin">Admin</a>
</li>
<li class="nav-item">
    <form class="form-inline"
          asp-area="Identity"
          asp-page="/Account/Logout">
        <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
    </form>
</li>