@inject OlympiaDbContext context

@if (this.context.Users.Include(x => x.Trainer).FirstOrDefault(x => x.UserName == this.User.Identity.Name).Trainer == null)
{
    <li class="nav-item active">
        <a class="nav-link text-light"
           asp-area="AreaClient"
           asp-controller="Client"
           asp-action="TrainersAll">Trainers</a>
    </li>
}
else
{
    <li class="nav-item active">
        <a class="nav-link text-light"
           asp-area="AreaClient"
           asp-controller="Client"
           asp-action="MyTrainer"
           asp-route-username="@this.User.Identity.Name">My Trainer</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-light"
           asp-area="AreaClient"
           asp-controller="Client"
           asp-action="MyFitnessPlan"
           asp-route-username="@this.User.Identity.Name">My Fitness Plan</a>
    </li>
}
<li class="nav-item active">
    <a class="nav-link text-light"
       asp-controller="Accounts"
       asp-action="ProfileIndex">Profile</a>
</li>
<li class="nav-item active">
    <a class="nav-link text-light"
       asp-controller="Accounts"
       asp-action="Logout">Logout</a>
</li>