
@if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{

    <li class="nav-item active">
        <a class="nav-link text-light"
           asp-area="AreaBlog"
           asp-controller="Blog"
           asp-action="ArticlesAll">Articles</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-light"
           asp-area="AreaShop"
           asp-controller="Shop"
           asp-action="MyOrders">My Orders</a>
    </li>
}


<li class="nav-item active">
    <a class="nav-link text-light"
       asp-area="AreaShop"
       asp-controller="Shop"
       asp-action="ShopIndex">Shop</a>
</li>