<li class="nav-item">
    <a class="nav-link text-light" 
       asp-area="Trainer" 
       asp-controller="Trainer" 
       asp-action="ClientsAll">Clients</a>
</li>
<li class="nav-item active">
    <a class="nav-link text-light" 
       asp-area="Trainer" 
       asp-controller="Trainer" 
       asp-action="MyArticles">My Articles</a>
</li>
<li class="nav-item">
    <form class="form-inline" 
          asp-area="Identity" 
          asp-page="/Account/Logout" 
          asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
        <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
    </form>
</li>