<li class="nav-item">
    <a class="nav-link text-light" 
       asp-area="AreaTrainer" 
       asp-controller="Trainer" 
       asp-action="ClientsAll">Clients</a>
</li>
<li class="nav-item active">
    <a class="nav-link text-light" 
       asp-area="AreaTrainer" 
       asp-controller="Trainer" 
       asp-action="MyArticles">My Articles</a>
</li>
<li class="nav-item active">
    <a class="nav-link text-light" 
       asp-controller="Accounts" 
       asp-action="ProfileIndex"> Profile</a>
</li>
<li class="nav-item">
    <form class="form-inline"
          asp-controller="Accounts"
          asp-action="Logout">
        <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
    </form>
</li>