@{
    @model Olympia.Data.Models.ViewModels.BlogPartViewModels.CommentViewModel
}

<h3 class="text-center">-Comments-</h3>
<div>
    <label asp-for="Content"></label>
    <textarea class="form-control" cols="60" rows="4" asp-for="Content"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
</div>

<div>
    <a asp-area="AreaBlog"
       asp-controller="Blog"
       asp-action="CreateComment"
       class="btn btn-danger">Comment</a>
</div>