
@{
    ViewData["Title"] = "MyTrainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Domain.OlympiaUser
}

<div class="offset-6">
    <a class="btn btn-danger"
       asp-area="AreaClient"
       asp-controller="Client"
       asp-action="LeaveTrainer">
        Break contract
    </a>
</div>

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="card card-trainer ml-4">
            <img src="@Model.ProfilePicturImgUrl" alt="John" style="width:100%">
            <h3>@Model.FullName</h3>
            <p class="title">Olympia Trainer</p>
            <p>@Model.Description</p>
        </div>
        <div>

            <div class="container">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-6">&nbsp;</div>
                    <div class="col-6">
                        User<input type="text" id="userInput" />
                        <br />
                        <input type="text" id="messageInput" />
                        <input type="button" id="sendButton" asp-route-username="@this.User.Identity.Name" value="Send Message" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">&nbsp;</div>
                    <div class="col-6">
                        <ul id="messagesList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>