
@{
    ViewData["Title"] = "MyTrainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Domain.OlympiaUser
}

<h1 class="text-lg-center">@Model.UserName</h1>

<div class="container">
    <div class="d-flex align-content-lg-between">
        <div class="card card-trainer">
            <img src="@Model.ProfilePicturImgUrl" alt="John" style="width:100%">
            <h3>@Model.FullName</h3>
            <p class="title">Olympia Trainer</p>
            <p>@Model.Description</p>
        </div>
        <div>
            <h1>kur</h1>
        </div>
    </div>
</div>