
@{
    ViewData["Title"] = "MyTrainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Domain.OlympiaUser
}

<div class="text-center">
    <a class="btn btn-danger"
       asp-area="AreaClient"
       asp-controller="Client"
       asp-action="LeaveTrainer"
       asp-route-trainerUsername="@Model.UserName">
        Break contract
    </a>
</div>

<div class="container">
    <div class="d-flex justify-content-between row">
        <div class="card card-trainer ml-4 mt-4 col-md-6">
            <img src="@Model.ProfilePicturImgUrl" alt="John" style="width:100%">
            <h3>@Model.FullName</h3>
            <p class="title">Olympia Trainer</p>

        </div>
        <div class="col-md-6 mt-4">
            <h5><strong>@Model.Description</strong></h5>
        </div>
    </div>
</div>