
@{
    ViewData["Title"] = "MyTrainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Domain.OlympiaUser
}

<div class="offset-6">
    <a class="btn btn-danger"
       asp-area="AreaClient"
       asp-controller="Client"
       asp-action="LeaveTrainer"
       asp-route-trainerUsername="@Model.UserName">
        Break contract
    </a>
</div>

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="card card-trainer ml-4">
            <img src="@Model.ProfilePicturImgUrl" alt="John" style="width:100%">
            <h3>@Model.FullName</h3>
            <p class="title">Olympia Trainer</p>
            
        </div>
        <div>
            <div>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>